In [1]:
import pandas

#pandas.options.display.max_columns = None
#pandas.options.display.max_rows = None

Population_data = pandas.read_csv("world_population_by_country.csv")

Population_data

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%
3,4,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%
4,5,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,"4,992",0.06%,3,50,100,NaN,N.A.,N.A.,10%,0.00%
231,232,Falkland Islands,"3,480",3.05%,103,0,"12,170",NaN,N.A.,N.A.,66%,0.00%
232,233,Niue,"1,626",0.68%,11,6,260,NaN,N.A.,N.A.,46%,0.00%
233,234,Tokelau,"1,357",1.27%,17,136,10,NaN,N.A.,N.A.,0%,0.00%
234,235,Holy See,801,0.25%,2,"2,003",0,NaN,N.A.,N.A.,N.A.,0.00%